.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body{
  margin:0;
  border:0;
  background-color: #ECECEC;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #302159, #b393d3);
    /* background-image: linear-gradient(to left, #CF4DCE, #F273E6); */

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  border : 0;
  padding : 20px;
}

.header{
  background-color: #f1f0f0;
  margin-top: 0;
  margin-bottom: 0;
  border:0;
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color:  #54408c;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid;
}

.filter-btn-active {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color:  #54408c;
  cursor: pointer;
  transition: all 0.15s linear;
  border-radius: 0.25rem;
  border-bottom: 10px solid;
  text-decoration: none;
}

.buttonss{
  display:inline-block;
}

.category_container{
  background-color: #f9ccd6;
  margin:0;
  padding: 7px;
}

.Menuitem{
  width: 40%;
  margin: auto;
  /* margin-top: 5px; */
  margin-bottom: 40px;
  background-color: white;
  border : 5px solid;
  border-color: #f9ccd6;
  border-radius: 10px;
  display: flex;
  justify-content: left;
}

.picture{
  height: width;
  width: 30%;
  margin : 10px;

}

h2{ 
  color: #54408c; 
  font-size: 30px; 
  font-family: 'Signika', sans-serif; 
  /* padding-bottom: 10px;  */
  margin: 10px;
  text-align: left;
}

.menutext{
  /* align-content: left; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h3{
  font-family: 'Signika', sans-serif; 
  font-size: 15px;
  text-align: left;
  margin: 2px 10px 10px 10px;
  color: #ff8400;
}

p{
  text-align: left;
  margin:2px 10px 10px 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #54408c
}

.dropdown{
  /* background-color: #f9ccd6; */
  margin:30px;
  
  position:relative;
  display:inline-block;
}


.filter-dropbtn,.sort-dropbtn{
  background: transparent;
  border-color: #f9ccd6;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color:  #54408c;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;

  /* cursor: pointer; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0.25rem;
}

.dropdown-content button {
  width: 100%;
  background-color: #f8f8f8;
  border:none;
  color: #54408c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 0.25rem;
}

/* .dropdown-content button:hover {background-color: #ececec} */

.filterdiv button:hover{background-color: #f9ccd6;}
.sortdiv button:hover{background-color: #f9ccd6;}

.filterdiv{
  display: inline-block;
}
.filterdiv button{
  font-size: 14px;
}
.sortdiv button{
  font-size: 14px;
}
.sortdiv{
  display: inline-block;
}

.filterdiv:hover .dropdown-content {
  display: block;
}

.sortdiv:hover .dropdown-content{
  display: block;
}

.filterdivhead{
  background: transparent;
  border-color: #f9ccd6;
  font-size: 1rem;
  text-transform: capitalize;
  /* margin: 0 0.5rem; */
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color:  #54408c;
  display:inline-block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.loginbtn-upp{
  color: #54408c;
  margin: 32px 10px 10px 10px;
}
.loginbtn{
  color: #54408c;
  text-decoration: none;
}
.loginbtn2{
  background: transparent;
  border-color: #f9ccd6;
  /* font-size: 1rem; */
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color:  #54408c;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.loginbtn2:hover{
  background-color: #f9ccd6;
}

.loginbtn-div{
  border-color: #f9ccd6;
  border-style: solid;
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
}

.loginbtn-div:hover{
  background-color: #f9ccd6;
  
}

input{
  padding:10px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:5px;
  margin: 10px;
}

h4{
  color: #54408c;
  margin: 35px 0 20px 0;
}

.outline{
  border: solid;
  border-width: 4px;
  border-color: #f9ccd6;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  align-self: center;
}

h5{
  color: #54408c;
}